.icon {
  height: initial;
  width: initial;
  transition: all 0.3s ease; /* Replace with your transition duration and timing */
}

.icon path,
.icon circle {
  transition: all 0.3s ease; /* Replace with your transition duration and timing */
}

.icon_active {
  cursor: pointer;
}

.icon_active:hover path,
.icon_active:hover circle {
  stroke: white;
}
